<div class="m-5">
<div class="flex flex-col m-auto w-1/2 p-5">
    <p-header class="m-auto">Create your own cocktail!</p-header>
    <p class="m-auto">Drag your ingredient and drop it in the shaker!</p>
</div>

<div class="flex flex-col">
    <div class="">
        <div class="flex flex-wrap space-x-4">
            <ul *ngFor="let ingredient of ingredientList$ | async" class="p-5">
            
                <li pDraggable="ingredientList$" (onDragStart)="dragStart(ingredient)" (onDragEnd)="dragEnd()">
                    <img [src]="ingredient.icon" [alt]="ingredient.label" [pTooltip]="ingredient.label" tooltipPosition="bottom" class="w-28" />
                </li>

            </ul>
        </div>

    </div>

    <div>

        <div class="w-60 m-auto">
        <p-card pDroppable="ingredientList$" (onDrop)="drop()" class="flex flex-col">
                <img [src]="shakerUrl" class="w-40 self-center">
                <p class="self-center">Input your cocktail name:</p>
            <input class="self-center" type="text" pInputText [(ngModel)]="cocktail.label" placeholder="I can't put a border, click here"/>
            <ul>
                <div *ngIf="cocktail.ingredientList">
                    <li *ngFor="let ingredient of cocktail.ingredientList" class="self-center">
                        {{ingredient.label}}
                    </li>
                </div>
            </ul>
            <p-button (onClick)="add()" class="self-center">Shake it!</p-button>
        </p-card>
    </div>

    </div>
</div>
</div>
