<div class="bg">
    <div class="pt-28">
        <img [src]="logoSource" class="m-auto">
        <p class="w-2/3 m-auto p-10 text-justify"> Welcome to Shake It, the ultimate cocktail creation game where you
            can
            unleash your inner mixologist!
            Get ready to shake, stir, and pour your way to mixology mastery as you explore a vibrant world of
            flavors and concoctions. So grab your shaker, ignite your imagination, and let the cocktail revolution
            begin!
        </p>
    </div>
</div>